.button-group {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.performance-level {
  background-color: var(--color-accent);
  color: var(--color-bg);
  padding: var(--space-xs);
  width: var(--space-lg);
  height: var(--space-lg);
  border-radius: var(--radius-pill);    
}

.performance-description {
  flex-grow: 1;
}

.selected {
  border: 2px solid var(--color-primary);
}