.input-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  margin-top: var(--space-sm);
}

label {
  color: var(--color-text-muted);
  font-size: var(--font-size-sm);
}

input {
  background-color: var(--color-bg-surface);
  color: var(--color-text);
  font-size: var(--font-size-sm);
  border-radius: var(--radius-sm);
  padding: var(--space-sm) var(--space-md);
  border: 1px solid var(--color-border-muted);
  outline: none;
}

input:focus {
  border-color: var(--color-primary);
}