.todo-list {
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: var(--space-sm);
  padding: var(--space-xs) 0;
  border-bottom: 1px solid var(--color-border-muted);
  transition: opacity 0.2s ease;
}

.todo-item.completed p {
  opacity: 0.4;
  filter: grayscale(100%);
  transition: all 0.3s ease;
}

.todo-item p {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.todo-checkbox button {
  background-color: transparent;
  border: none;

}

.list-tag {
  font-size: var(--font-size-sm);
}