form {
  display: flex;
	flex-direction: column;
	gap: var(--space-md);
	margin-top: var(--space-md)
}

.input-row {
	display: flex;
	gap: var(--space-md)
}

.input-row > * {
	flex: 1;
}

.required-info {
	color: var(--color-text-muted);
	font-size: var(--font-size-xs);
}