.card-base {
  padding: var(--space-lg);
  border-radius: var(--radius-md);
  border: 1px solid var(--color-border-muted);
  text-align: left;

  background-color: var(--color-bg-surface);
  box-shadow: var(--shadow-md);
}

.card-content {
  color: var(--color-text-muted);
}

.card-title {
  margin-top: 0;
  margin-bottom: var(--space-md);
  font-size: var(--font-size-lg);
  font-weight: 700;
}

/* icon */
.card-icon-base {
  width: 36px;
  height: 36px;
  margin-bottom: var(--space-sm);
}
