.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  height: 100%;
  width: 100%;
  z-index: 1000;
}

.modal-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--color-border-muted);
  border-radius: var(--radius-md);
  min-width: 300px;
  max-width: 700px;
  max-height: 80vh;
  scrollbar-gutter: stable;
}

.modal-content {
  padding: var(--space-md) var(--space-lg);
  overflow-y: auto;
  scroll-snap-type: y proximity;
}

/* Header */
.modal-header-container {
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid var(--color-border-muted);
}

/* Close button */
.close-button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 1000;
  font-size: var(--font-size-md);
  background-color: transparent;
  border-color: transparent;
}

.close-button svg {
  color: var(--color-text-muted);
}

.close-button svg:hover {
  color: var(--color-text);
  cursor: pointer;
}

/*Scroll-bar*/
.modal-content::-webkit-scrollbar {
  width: 6px;
}

.modal-content::-webkit-scrollbar-track {
  background: transparent; 
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral);
  border-radius: var(--radius-pill);
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-neutral-hover);
}