.productivity .button-group {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  margin: var(--space-lg) 0;
}

.productivity button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-xs);
}

.productivity button:active {
  transform: none;
}

.productivity-level {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-bg);
  width: var(--space-xl);
  height: var(--space-xl);
  border-radius: var(--radius-pill);    
}

.productivity-description {
  flex-grow: 1;
}

.container .productivity {
  max-width: 320px;
}