header {
  min-width: 160px;
  width: 200px;
  height: 100vh;
  background-color: var(--color-bg-surface);

  /* Headern stannar kvar även vid scroll */
  position: sticky;
  top: 0;
}

h1 {
  margin: 0;
  padding-top: var(--space-md);
  font-size: var(--font-size-xl);
}

nav { 
  padding: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}