.todo-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*Arrows*/
.nav-wrapper {
  display: flex;
  align-items: center;
}

.nav-arrow {
  background-color: transparent;
  border: none;
}

.nav-arrow svg {
  stroke: var(--color-text-muted);
  transition: stroke 0.2s ease;
  width: 18px;
}

.nav-arrow:hover svg {
  stroke: var(--color-primary);
}

/* Navigation */
.todo-nav {
  display: flex;
  gap: var(--space-sm);
  overflow-x: auto;
  scrollbar-width: none;
  width: 100%;
}

.todo-nav-item {
  display: flex;
  align-items: center;
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--radius-pill);
  font-size: var(--font-size-sm);
  color: var(--color-text-muted);
  transition: all 0.2s ease;
  border: 1px solid transparent;
  text-decoration: none;
}

.todo-nav-item.active {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-color: var(--color-primary);
  font-weight: 500;
}

.todo-nav-item:hover:not(.active) {
  background-color: var(--color-border-muted);
}

/*Delete button*/
.delete-list-button {
  display: inline-flex;
  justify-content: right;
  background-color: transparent;
  border: none;
  opacity: 0;
  transition: all 0.2s ease;
  margin: 0;
  width: 0;
  padding: 0;
}

.delete-list-button svg {
  stroke: var(--color-text-muted);
  width: 14px;
}

.delete-list-btn:hover svg {
  stroke: var(--color-primary);
}

.todo-nav-item.active .delete-list-button,
.todo-nav-item:hover .delete-list-button {
  opacity: 1;
  margin-left: var(--space-md);
  width: 24px;
}

.delete-list-button:hover svg {
  stroke: var(--color-primary);
  transform: scale(1.1); /* En liten extra feedback vid hover */
}