.theme-toggle-content {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.theme-toggle-content svg {
  font-size: var(--font-size-lg);
  stroke-width: 0.5px; /* Makes the icon thicker */
}