:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*Färgpalett*/
  --color-bg: #f2f2f2;
  --color-bg-surface: #ffffff;
  --color-border-muted: #e5e7eb;
  --color-text: #0f0f0f;
  --color-text-muted: #6b6b6b;
  --color-accent: #2563eb;

  /*Typografi*/
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-md: 1.125rem; /* 18px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 1.5rem; /* 24px */
  --font-size-xxl: 2rem; /* 32px */

  /*Marginaler och padding*/
  --space-xs: 0.25rem;  /* 4px */
  --space-sm: 0.5rem;   /* 8px */
  --space-md: 1rem;     /* 16px */
  --space-lg: 1.5rem;   /* 24px */
  --space-xl: 2rem;     /* 32px */
  --space-xxl: 2.5rem;  /* 40px */

  /*Radier*/
  --radius-sm: 0.5rem;   /* 8px */
  --radius-md: 1rem;     /* 16px */
  --radius-lg: 1.5rem;   /* 24px */
  --radius-xl: 2rem;     /* 32px */
  --radius-pill: 999px;

  /*Skuggor*/
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.05);
  --shadow-lg: 0 8px 16px rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  margin: 0;
}

main {
  flex: 1;
  padding: var(--space-lg);
}

.body-container {
  display: flex;
  text-align: center;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}