.grid-layout {
  display: grid;
  /* Uses the variable from jsx-file */
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--space-md);
  margin: var(--space-xs);
  max-width: 1200px;
  width: 100%;
}

.grid-layout.full-height {
  flex: 1;
  overflow: hidden;
  height: 100%;
}

/* Media queries needs to be added */